name = "brp-bot"
main = "worker/index.ts"
compatibility_date = "2024-11-06"
compatibility_flags = ["nodejs_compat"]

# Triggers scheduled worker at UTC 00:00AM every day
# Ref: https://developers.cloudflare.com/workers/configuration/cron-triggers/#supported-cron-expressions
[triggers]
crons = ["0 0 * * *"]

# Workers Logs
# Docs: https://developers.cloudflare.com/workers/observability/logs/workers-logs/
# Configuration: https://developers.cloudflare.com/workers/observability/logs/workers-logs/#enable-workers-logs
[observability]
enabled = true

# Variable bindings. These are arbitrary, plaintext strings (similar to environment variables)
# Docs:
# - https://developers.cloudflare.com/workers/wrangler/configuration/#environment-variables
# Note: Use secrets to store sensitive data.
# - https://developers.cloudflare.com/workers/configuration/secrets/
[vars]
LINE_ADMIN_RECEIPIENT_ID = "your-personal-LINE-id"
LINE_CHANNEL_ACCESS_TOKEN = "your-LINE-channel-access-token"

# Bind a D1 database. D1 is Cloudflare’s native serverless SQL database.
# Docs: https://developers.cloudflare.com/workers/wrangler/configuration/#d1-databases
[[d1_databases]]
binding = "DB"
database_name = "your-database-name"
database_id = "your-d1-database-id"
